/* global styles */
body {
    font-family: Segoe UI;
    background: rgb(18, 16, 16);
    display: flex; /*center horizontally*/
    justify-content: center;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

/* taskPage */
#taskPage {
    background: white;
    padding: 20px 30px; /*20 top/bottom and 30 on left/right*/
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

/* inputTask */
.inputTask {
    display: flex;
    margin-bottom: 20px;
}

/* input and button */
#task {
    flex: 1;
    padding: 10px;
    font-size: 20px;
}

#addTask {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 10px;
    background: rgb(39, 39, 73);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* task list */
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

/*push btns to the right and keep them close*/
li button:first-child {
    /*push first btn to the far right*/
    margin-left:auto;
}

/*small gap between delete and update btns*/
li button{
    margin-left: 5px;
}